.main {
	margin: 15px auto;
	overflow: auto;
}
.leftArea {
	background-color: #f3f3f3;
	width: 180px;
	border: 2px solid #d7d7d7;
}
.rightArea {
	width: 810px;
}

/*中部 左侧*/
.cat_title {
	text-align: center;
	border-bottom: 2px solid #d7d7d7;
	line-height: 35px;
}
.cat_list {
	padding: 6px 0 6px 20px;
	overflow: auto;  
	border-bottom: 2px dotted #d7d7d7;
	margin-bottom: -2px;
}
.cat_list:last-child {
	border-bottom: none;
}
.cat_list h3,.cat_list li {
	height: 25px;
	line-height: 25px;
}
.cat_list h3 {
	font-size: 13px;
}
.cat_list li {
	float: left;
	width: 50%;
}
.cat_list li a:hover {
	color: orange;
}

/*右侧 产品展示区*/
.cat_show_area {
	margin-top: 10px;
	overflow: auto;
}
.cat_show_title {
	width: 150px;
	height: 35px;
	line-height: 35px;
	text-indent: 10px;
	border-bottom: 2px solid #096dba;
	position: relative;
}
.cat_products {
	border-top: 2px solid #d7d7d7;
	margin-top: -2px;
}
.cat_show_product {
	width: 24.9%;
	height: 260px;
	text-align: center;
	margin-top: 10px;
	float: left;
}
.cat_show_product img {
	height: 160px;

}
.cat_show_product p {
	text-align: left;
	padding: 0 10px;
	line-height: 18px;
}
.product_intro a {
	color: #000;
}
.product_intro a:hover {
	color: orange;
	text-decoration: underline;
}
.product_price {
	margin-top: 15px;
	color: #E82020;
	font-weight: bold;
	font-size: 15px;
}
.product_comment .star {
	display: inline-block;
	background: url(../images/icon/xing.gif) center no-repeat;
	width: 13px;
	height: 13px;
	margin-right: 3px;
}